# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\projs\project_template\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
